@import "tailwindcss";

:root {
  --background: #020617;
  /* slate-950 */
  --foreground: #e2e8f0;
  /* slate-200 */
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}